<%= simple_form_for(@department, :html => {:class=> "form-horizontal"})  do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :head %>
    <%= f.association :deputy %>
    <%= f.button :submit, :class => "btn btn-normal btn-success" %>
  </div>
<% end %>
