<table class="table table-striped">
  <thead>
  <legend>Listing units</legend>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
<tbody>
  <% @units.each do |unit| %>
    <tr>
      <td><%= unit.name %></td>
      <td><%= link_to 'Show', unit %></td>
      <td><%= link_to 'Edit', edit_unit_path(unit), :class=>"btn btn-mini btn-primary" %>
          <%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-mini btn-danger"  %></td>
    </tr>
  <% end %>
</tbody>
  <tfoot>
    <tr>
      <td colspan = 6>
        <%= link_to 'New Unit', new_unit_path, :class=>"btn btn-mini btn-primary" %>
      </td>
    </tr>
  </tfoot>
</table>
